{% extends 'base.html' %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
  <p><a href="{% url 'events_list' %}"><button type="button" class="btn btn-primary">Back</button></a>

  <h1>{{ event.title }}</h1>
  <p>Organiser: {{ event.organiser }}</p>
  <p>{{ event.description }}</p>

  <h2>Attendees:</h2>
  {% if event.attendees.all.count %}
    <ul>
      {% for attendee in event.attendees.all %}
        <li><a href="mailto:{{ attendee.email }}">{{ attendee.friendly_name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no attendees.</p>
  {% endif %}

    <h2>Actions:</h2>
    {% if event.is_organiser %}
        <p><a href="{% url 'events_edit' event.pk %}"><button type="button" class="btn btn-primary">Edit Event</button></a>
    {% elif not event.is_in_past %}
        {% if event.is_attending %}
           <form method="POST" action="{% url 'events_unattend' event.pk %}">
              {% csrf_token %}
              <p><button type="submit" class="btn btn-primary">Unattend</button></p>
           </form>
        {% else %}
           <form method="POST" action="{% url 'events_attend' event.pk %}">
              {% csrf_token %}
              <p><button type="submit" class="btn btn-primary">Attend</button></p>
           </form>
        {% endif %}
    {% endif %}

{% endblock %}