{% extends 'base.html' %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
  <script type="text/javascript">
      $(document).ready(function(){
          $('.btn-attendance').on('click', function(event) {
              const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
              $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                  jqXHR.setRequestHeader('X-CSRFToken', csrftoken);
              });

              $.ajax({
                url: window.location.origin + "{{ attendance_url }}",
                dataType: 'json',
                type: 'POST',
                error: function(data) {
                  alert(data.responseText);
                },
                success: function(data) {
                   location.reload();
                }
              });
          });
      });

  </script>

  <p><a href="{% url 'events_list' %}"><button type="button" class="btn btn-primary">Back</button></a>

  <h1>{{ event.title }}</h1>
  <h4>Organiser: {{ event.organiser.friendly_name }}</h4>
  <h4>Date: {{ event.date_time }}</h4>

  <h3>Description:</h3>
  <p>{{ event.description }}</p>

  <h2>Attendees:</h2>
  {% if event.attendees.exists %}
    <ul>
      {% for attendee in event.attendees.all %}
        <li><a href="mailto:{{ attendee.email }}">{{ attendee.friendly_name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no attendees.</p>
  {% endif %}

    <h2>Actions:</h2>
    {% if event.is_organiser %}
        <p><a href="{% url 'events_edit' event.pk %}"><button type="button" class="btn btn-primary">Edit Event</button></a>
    {% elif not event.is_in_past %}
        {% csrf_token %}
        {% if event.is_attending %}
              <p><button type="button" class="btn btn-primary btn-attendance">Unattend</button></p>
        {% else %}
              <p><button type="button" class="btn btn-primary btn-attendance">Attend</button></p>
        {% endif %}
    {% endif %}

{% endblock %}